.wrapper {
    height: calc(100vh - 182px);
    width: 100%;
    position: relative;
}
.addCandidate {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80%;
    width: 40%;
    border-radius: 15px;
    background-color: royalblue;

    
}

.btn {
text-decoration: solid;
}