.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.mainLogo{
    height: 80px;
    margin: 10px;
}

.mainTitle{
color: black;
}

.userLogin{
    width: 136px;
}