.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.mainLogo{
    height: 130px;
    margin: 10px;
    cursor: pointer;
}

.mainTitle{
color: black;
}

.userLogin{
    width: 136px;
    text-align: center;
    background-color: #ddd;
}

.userName {
    font-size: 1.2rem;
    font-weight: bold;
}

.userLoginBtn {
    cursor: pointer;
    padding: 5px 0;
    
}

.userLoginBtn:hover {
    font-weight: bold;
}